<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="container">
    <h1>Prediction History</h1>

    <!-- Check if there are any predictions -->
    {% if predictions %}
    <table>
        <thead>
        <tr>
            <th>Timestamp</th>
            <th>Mean Radius</th>
            <th>Mean Texture</th>
            <th>Mean Perimeter</th>
            <th>Mean Area</th>
            <th>Mean Smoothness</th>
            <th>Prediction Result</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through the user's predictions -->
        {% for prediction in predictions %}
        <tr>
            <td>{{ prediction.timestamp }}</td>
            <td>{{ prediction.mean_radius }}</td>
            <td>{{ prediction.mean_texture }}</td>
            <td>{{ prediction.mean_perimeter }}</td>
            <td>{{ prediction.mean_area }}</td>
            <td>{{ prediction.mean_smoothness }}</td>
            <td>{{ prediction.result }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No prediction history available.</p>
    {% endif %}

    <a href="{{ url_for('input') }}">Make a New Prediction</a>
</div>

<div class="container-fluid footer position-relative bg-dark text-white-50 mt-5 pt-5 pb-4">
    <div class="container">
        <div class="row g-5 py-1">
            <div class="col-lg-6 pe-lg-5">
                <a href="index.html" class="navbar-brand">
                    <h1 class="h1 text-light mb-0">Cancer Recognition <span
                            class="text-pink display-6">| Filoger</span></h1>
                </a>
                <p class="fs-5 mb-4" style="text-align: justify;">
                    At m10ps group, we are dedicated to advancing cancer detection through innovative machine learning
                    solutions. Our mission is to empower individuals with accurate and timely health insights. Together,
                    we can make a difference in the fight against cancer.
                </p>
            </div>
            <div class="col-lg-6 ps-lg-5">
                <div class="row g-5">
                    <div class="col-sm-6">
                        <h4 class="text-pink mb-4">Quick Links</h4>
                        <a class="btn btn-link" href="/">Home</a>
                        <a class="btn btn-link" href="/about-us">About Us</a>
                        <a class="btn btn-link" href="/our-team">Our Team</a>
                        <a class="btn btn-link" href="/login">login</a>
                        <a class="btn btn-link" href="/register">Register</a>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="text-pink mb-4">m10ps Info</h4>
                        <p><i class="fa fa-map-marker-alt me-2"></i>Tehran, Iran</p>
                        <p><i class="fa fa-phone-alt me-2"></i>+98 2134567890</p>
                        <p><i class="fa fa-envelope me-2"></i>mlops@m10px.com</p>
                        <div class="d-flex mt-4">
                            <a class="btn rounded btn-custom me-1" href="https://t.me/m10ps"><i
                                    class="fa fa-paper-plane"></i></a>
                            <a class="btn rounded btn-custom me-1" href="#"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a class="btn rounded btn-custom me-1" href="#"><i class="fab fa-kaggle"></i></a>
                            <a class="btn rounded btn-custom me-1"
                               href="https://github.com/ManeliFotoutan/smart-website-for-cancer-recognition"><i
                                    class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid copyright text-white-50 py-1">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; 2024 m10ps Group - All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
