<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ml0ps lab - Homepage</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="ico/favicon-48x48.png" rel="icon" sizes="48x48" type="image/png"/>
    <link href="ico/favicon.svg" rel="icon" type="image/svg+xml"/>
    <link href="ico/favicon.ico" rel="shortcut icon"/>
    <link href="ico/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
    <link href="ico/site.webmanifest" rel="manifest"/>

    <!-- Google Web Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>

    
<!-- Navbar Start -->
<div class="container-fluid sticky-top bg-white shadow-sm">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
            <a class="navbar-brand" href="/">
                <img src="../static/img/logo.png" width="310">
            </a>
            <button class="navbar-toggler" data-bs-target="#navbarCollapse" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a class="nav-item nav-link active" href="/">Home</a>
                    <a class="nav-item nav-link" href="/our-activity">Our Activity</a>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Our Service</a>
                        <div class="dropdown-menu m-0">
                            <a class="dropdown-item" href="https://cancer-app-330162519967.europe-west3.run.app/"><span
                                    class="fa fa-angle-right me-2"></span>Predicting Cancer</a>
                            <a class="dropdown-item" href="/input"><span class="fa fa-angle-right me-2"></span>Predicting
                                Diabetes <span class="text-danger">[ new ]</span></a>
                            <a class="dropdown-item text-decoration-line-through" href="#">[soon] Predicting Hematologic
                                Diseases (soon)</a>
                            <a class="dropdown-item text-decoration-line-through" href="#">[soon] Predicting Chronic
                                Myelogenous Leukemia (CML)</a>
                            <a class="dropdown-item text-decoration-line-through" href="#">[soon] Predicting Acute
                                Lymphoblastic Leukemia (ALL)</a>
                            <a class="dropdown-item text-decoration-line-through" href="#">[soon] Predicting Chronic
                                Obstructive Pulmonary Disease (COPD)</a>
                            <a class="dropdown-item text-decoration-line-through" href="#">[soon] Predicting Heart
                                Failure</a>
                            <a class="dropdown-item text-decoration-line-through" href="#">[soon] Predicting
                                Cardiovascular Diseases</a>
                            <a class="dropdown-item text-decoration-line-through" href="#">[soon] Predicting
                                Inflammatory Conditions</a>
                            <a class="dropdown-item text-decoration-line-through" href="#">[soon] Predicting Kidney
                                Disease</a>
                            <a class="dropdown-item text-decoration-line-through" href="#">[soon] Predicting Liver
                                Disease</a>
                            <a class="dropdown-item text-decoration-line-through" href="#">[soon] Predicting Thyroid
                                Disorders</a>
                            <a class="dropdown-item text-decoration-line-through" href="#">[soon] Predicting
                                Hemoglobinopathies Diseases</a>
                            <a class="dropdown-item text-decoration-line-through" href="#">[soon] Predicting Autoimmune
                                Diseases</a>
                            <a class="dropdown-item text-decoration-line-through" href="#">[soon] Predicting Hepatitis
                                Diseases</a>
                            <a class="dropdown-item text-decoration-line-through" href="#">[soon] Predicting Cognitive
                                Decline</a>
                            <a class="dropdown-item text-decoration-line-through" href="#">[soon] Predicting Gout</a>
                            <a class="dropdown-item text-decoration-line-through" href="#">[soon] Predicting Vitamin
                                Deficiencies</a>
                        </div>
                    </div>
                    <a class="nav-item nav-link" href="/our-team">Our Team</a>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                            <span class="fa fa-login"></span> Sign In / Sign Up
                        </a>
                        <div class="dropdown-menu m-0">
                            <a class="dropdown-item" href="/login"><span class="fa fa-angle-right me-2"></span>Sign In</a>
                            <a class="dropdown-item" href="/register"><span class="fa fa-angle-right me-2"></span>Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->


<!-- Sldie Start -->
<div class="container-fluid bg-primary py-5 mb-5 slide-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-6 text-center text-lg-start">
                <h5 class="d-inline-block text-danger text-uppercase border-bottom border-5"
                    style="border-color: rgba(256, 256, 256, .3) !important;">Welcome To M10PS lab</h5>
                <h2 class="display-2 text-white mb-md-4">Harnessing AI for Better Health Outcomes</h2>
                <div class="pt-2">
                    <a class="btn btn-light rounded-pill py-md-3 px-3 mx-2" href="/input">Diabetes Recognition (Ex.12)</a>
                    <a class="btn btn-outline-light rounded-pill py-md-3 px-3 mx-2" href="https://cancer-app-330162519967.europe-west3.run.app/">Cancer Recognition (Ex.11)</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slide End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5 ataglance mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="ataglance-img pb-5 ps-5">
                    <img alt="M10PS Laboratory" class="img-fluid rounded w-100 py-1"
                         src="../static/img/about-2.jpg" style="object-fit: cover;" title="M10PS Laboratory">
                    <img alt="M10PS Laboratory" class="img-fluid rounded w-100 py-4"
                         src="../static/iimg/about-1.jpg" style="object-fit: cover;" title="M10PS Laboratory">
                    <div class="ataglance-experience">produced with <span class="fa fa-heart text-danger small"></span>
                        by m10ps group ...
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-1">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">About M10px
                        Laboratory</h5>
                    <h4 class="display-6">Advancing Healthcare Through AI and Machine Learning</h4>
                </div>
                <p style="text-align: justify;">
                    At M10px Laboratory, we are dedicated to advancing healthcare through innovative artificial
                    intelligence (AI) and machine learning (ML) technologies. Our mission is to enhance disease
                    detection and management, empowering both healthcare professionals and patients with cutting-edge
                    tools for better health outcomes.
                    and you should better to know a blood test is one of the most common tests healthcare providers use
                    to monitor your overall health or help diagnose medical conditions. You may have a blood test as
                    part of a routine physical examination or because you have certain symptoms.
                </p>
                <h4 class="text-secondary">
                    <span class="fa fa-project-diagram"></span>
                    Current Projects
                </h4>
                <table class="table table-bordered" style="text-align: center; vertical-align: middle;">
                    <tr>
                        <td class="fw-bold">Cancer Detection</td>
                        <td class="fw-bold">Diabetes Prediction</td>
                    </tr>
                </table>
                <h4 class="text-secondary">
                    <span class="fa fa-bullhorn"></span>
                    Upcoming Innovations
                </h4>
                <table class="table table-bordered table-hover" style="text-align: center; vertical-align: middle;">
                    <tr>
                        <td>Predicting Hematologic Diseases</td>
                        <td>Predicting Chronic Myelogenous Leukemia (CML)</td>
                        <td>Predicting Acute Lymphoblastic Leukemia (ALL)</td>
                        <td>Predicting Chronic Obstructive Pulmonary Disease (COPD)</td>
                    </tr>
                    <tr>
                        <td>Predicting Heart Failure</td>
                        <td>Predicting Cardiovascular Diseases</td>
                        <td>Predicting Inflammatory Conditions</td>
                        <td>Predicting Kidney Disease</td>
                    </tr>
                    <tr>
                        <td>Predicting Liver Disease</td>
                        <td>Predicting Thyroid Disorders</td>
                        <td>Predicting Hemoglobinopathies</td>
                        <td>Predicting Autoimmune Diseases</td>
                    </tr>
                    <tr>
                        <td>Predicting Hepatitis Diseases</td>
                        <td>Predicting Cognitive Decline</td>
                        <td>Predicting Gout</td>
                        <td>Predicting Vitamin Deficiencies</td>
                    </tr>
                </table>
                <p style="text-align: justify;">Join us on this transformative journey as we strive to make healthcare
                    smarter, more efficient, and accessible for everyone.
                    Welcome to M10px Laboratory—where innovation meets health.</p>
                <ul class="list-group">
                    <li class="list-group-item text-secondary" style="text-align: center;">We are , Your Partner in Preventive Health.</li>
                    <li class="list-group-item text-secondary" style="text-align: center;">We are Transforming Data into Health Solutions.</li>
                    <li class="list-group-item text-secondary" style="text-align: center;">We are Together Towards a Healthier Future.</li>
                </ul>
                <div class="row g-3 pt-3">
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                            <h6 class="mb-0">Qualified<small class="d-block text-primary">specialist</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-procedures text-primary mb-3"></i>
                            <h6 class="mb-0">Emergency<small class="d-block text-primary">Services</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-microscope text-primary mb-3"></i>
                            <h6 class="mb-0">Accurate<small class="d-block text-primary">Testing</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-ambulance text-primary mb-3"></i>
                            <h6 class="mb-0">Quick<small class="d-block text-primary">Ambulance</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Footer Start -->
<div class="container-fluid footer bg-dark text-light mt-5 pt-5">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-lg-6 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">M10PS Laboratory</h4>
                <p class="mb-4" style="text-align: justify;">
                    At M10px Laboratory, we are committed to revolutionizing healthcare through advanced AI and machine learning technologies. Our innovative solutions empower individuals and healthcare professionals to predict and manage various health conditions effectively. With a focus on early detection and personalized care, we strive to enhance health outcomes and improve lives. Join us on our journey toward a healthier future. Feel free to adjust any part of the text to better align with your brand's voice!
                </p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Quick Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-light mb-2" href="/"><i class="fa fa-angle-right me-2"></i>Home</a>
                    <a class="text-light mb-2" href="/our-activity"><i class="fa fa-angle-right me-2"></i>Our Activity</a>
                    <a class="text-light mb-2" href="/our-service"><i class="fa fa-angle-right me-2"></i>Our Services</a>
                    <a class="text-light" href="/profile"><i class="fa fa-angle-right me-2"></i>Profile</a>
                    <a class="text-light mb-2" href="/our-team"><i class="fa fa-angle-right me-2"></i>Our Team</a>
                    <a class="text-light mb-2" href="/login"><i class="fa fa-angle-right me-2"></i>Sign In</a>
                    <a class="text-light" href="/register"><i class="fa fa-angle-right me-2"></i>Sign up</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Contact Us</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>Tehran, Iran</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>mlops@m10ps.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>+98 2134567890</p>
                <h6 class="text-primary text-uppercase mt-4 mb-3">Follow Us</h6>
                <div class="d-flex">

                    <a class="btn btn-primary btn-square rounded-circle me-2" href="https://t.me/m10ps"><i
                            class="fa fa-paper-plane"></i></a>
                    <a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i
                            class="fab fa-kaggle"></i></a>

                    <a class="btn btn-primary btn-square rounded-circle" href="#"><i
                            class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-light border-top border-secondary py-2">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-12 text-center text-md-center">
                <p class="mb-0 text-lig">&copy; 2024 m10ps Group - All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a class="btn btn-lg btn-primary btn-lg-square back-to-top" href="#"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>
