<!DOCTYPE html>
<html lang="en">

<head>
    <title>Input Information- Cancer Recognition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/ico/favicon-16x16.png">
    <link rel="manifest" href="../static/ico/site.webmanifest">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>

    <div class="container-fluid bg-light sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-2 py-lg-0">
                <a href="/" class="navbar-brand1">
                    <img class="img img-fluid" src="static/img/Filoger.png" alt="Logo">
                </a>
                <a href="/" class="navbar-brand2">
                    <img class="img img-fluid" src="static/img/CancerRecognition.png" alt="Logo">
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="/" class="nav-item nav-link">Home</a>
                        <a href="/our-team" class="nav-item nav-link">Our Team</a>
                        <a href="/logout" class="nav-item nav-link">Logout</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="container mt-5">
        <br>
        <h2>Enter Information</h2>

        <!-- Flash messages for feedback -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="mt-3">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        
        <form method="POST"">
            <div class="form-group">
                <label>Mean Radius</label>
                <input type="text" class="form-control" name="mean_radius" required>
            </div>
            <div class="form-group">
                <label>Mean Texture</label>
                <input type="text" class="form-control" name="mean_texture" required>
            </div>
            <div class="form-group">
                <label>Mean Perimeter</label>
                <input type="text" class="form-control" name="mean_perimeter" required>
            </div>
            <div class="form-group">
                <label>Mean Area</label>
                <input type="text" class="form-control" name="mean_area" required>
            </div>
            <div class="form-group">
                <label>Mean Smoothness</label>
                <input type="text" class="form-control" name="mean_smoothness" required>
            </div>
            <div class="form-group">
                <label>Mean Compactness</label>
                <input type="text" class="form-control" name="mean_compactness" required>
            </div>
            <div class="form-group">
                <label>Mean Concavity</label>
                <input type="text" class="form-control" name="mean_concavity" required>
            </div>
            <div class="form-group">
                <label>Mean Concave Points</label>
                <input type="text" class="form-control" name="mean_concave_points" required>
            </div>
            <div class="form-group">
                <label>Mean Symmetry</label>
                <input type="text" class="form-control" name="mean_symmetry" required>
            </div>
            <div class="form-group">
                <label>Mean Fractal Dimension</label>
                <input type="text" class="form-control" name="mean_fractal_dimension" required>
            </div>
            <div class="form-group">
                <label>Radius SE (standard error)</label>
                <input type="text" class="form-control" name="radius_se" required>
            </div>
            <div class="form-group">
                <label>Texture SE (standard error)</label>
                <input type="text" class="form-control" name="texture_se" required>
            </div>
            <div class="form-group">
                <label>Perimeter SE (standard error)</label>
                <input type="text" class="form-control" name="perimeter_se" required>
            </div>
            <div class="form-group">
                <label>Area SE (standard error)</label>
                <input type="text" class="form-control" name="area_se" required>
            </div>
            <div class="form-group">
                <label>Smoothness SE (standard error)</label>
                <input type="text" class="form-control" name="smoothness_se" required>
            </div>
            <div class="form-group">
                <label>Compactness SE (standard error)</label>
                <input type="text" class="form-control" name="compactness_se" required>
            </div>
            <div class="form-group">
                <label>Concavity SE (standard error)</label>
                <input type="text" class="form-control" name="concavity_se" required>
            </div>
            <div class="form-group">
                <label>Concave Points SE (standard error)</label>
                <input type="text" class="form-control" name="concave_points_se" required>
            </div>
            <div class="form-group">
                <label>Symmetry SE (standard error)</label>
                <input type="text" class="form-control" name="symmetry_se" required>
            </div>
            <div class="form-group">
                <label>Fractal Dimension SE (standard error)</label>
                <input type="text" class="form-control" name="fractal_dimension_se" required>
            </div>
            <div class="form-group">
                <label>Fractal Dimension SE (standard error)</label>
                <input type="text" class="form-control" name="fractal_dimension_se" required>
            </div>
            <div class="form-group">
                <label>Worst Radius</label>
                <input type="text" class="form-control" name="worst_radius" required>
            </div>
            <div class="form-group">
                <label>Worst Texture</label>
                <input type="text" class="form-control" name="worst_texture" required>
            </div>
            <div class="form-group">
                <label>Worst Perimeter</label>
                <input type="text" class="form-control" name="worst_perimeter" required>
            </div>
            <div class="form-group">
                <label>Worst Area</label>
                <input type="text" class="form-control" name="worst_area" required>
            </div>
            <div class="form-group">
                <label>Worst Smoothness</label>
                <input type="text" class="form-control" name="worst_smoothness" required>
            </div>
            <div class="form-group">
                <label>Worst Compactness</label>
                <input type="text" class="form-control" name="worst_compactness" required>
            </div>
            <div class="form-group">
                <label>Worst Concavity</label>
                <input type="text" class="form-control" name="worst_concavity" required>
            </div>
            <div class="form-group">
                <label>Worst Concave Points</label>
                <input type="text" class="form-control" name="worst_concave_points" required>
            </div>
            <div class="form-group">
                <label>Worst Symmetry</label>
                <input type="text" class="form-control" name="worst_symmetry" required>
            </div>
            <div class="form-group">
                <label>Worst Fractal Dimension</label>
                <input type="text" class="form-control" name="worst_fractal_dimension" required>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn-custom">Submit</button>
            </div>
        </form>
    </div>

    <!-- Optional JavaScript for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>